<mat-card>
    <mat-card-title>Send Message
        <!-- <h2>Send Message to your friends</h2>
        <button class="btn btn-danger float-right" [routerLink]="['/login']">Logout</button> -->
    </mat-card-title>

    <mat-card-content>
        <form [formGroup]="createReminderForm">
            <mat-form-field class="example-full-width">
                <span matPrefix>+91 &nbsp;</span>
                <input type="tel" matInput placeholder="Mobile Number" formControlName="mobileNumber"
                    [errorStateMatcher]="matcher">

                <mat-hint>Message would be sent to this number</mat-hint>
                <mat-error *ngIf="f.mobileNumber.hasError('required')">
                    Mobile number is required
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Type Message" #textMessageEle formControlName="textMessage"
                    [errorStateMatcher]="matcher" maxlength="256"></textarea>
                <button mat-button *ngIf="textMessageEle.value" matSuffix mat-icon-button aria-label="Clear" (click)="textMessageEle.value=''">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-hint align="end">{{textMessageEle.value.length}} / 256</mat-hint>
            </mat-form-field>

            <div style="width: 100%; height: 10px; border-bottom: 1px solid black; text-align: center">
                <span style="background-color: #ffffff; padding: 0 10px;">
                    OR
                </span>
            </div><br>

            <div>


                <input type="file" accept="audio/*" capture id="recorder">
                <audio id="player" controls></audio>
            </div>

            <div>
                <label>Select Mode </label>
                <mat-radio-group formControlName="selectedMode">
                    <mat-radio-button value="instantSend">Instant
                        Send</mat-radio-button>
                    <mat-radio-button value="schedule">Schedule
                        &nbsp;&nbsp;
                        <mat-form-field [hidden]="f.selectedMode.value === 'instantSend'">
                            <input matInput [matDatepicker]="dp" placeholder="Select Date" formControlName="scheduleDate">
                            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                            <mat-datepicker #dp></mat-datepicker>
                        </mat-form-field>
                    </mat-radio-button>
                </mat-radio-group>
            </div>


        </form>

        <!-- <form [formGroup]="createMessageForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="mobileNumber">Mobile Number</label>
                <input type="text" id="mobileNumber" formControlName="mobileNumber" class="form-control" [ngClass]="{ 'is-invalid': mobileNumber && f.Username.errors }" />
                <div *ngIf="submitted && f.mobileNumber.errors" class="invalid-feedback">
                    <div *ngIf="f.mobileNumber.errors.required">Mobile Number is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="textMessage">Type Message</label>
                <input type="text" id="textMessage" formControlName="textMessage" class="form-control" [ngClass]="{ 'is-invalid': textMessage && f.textMessage.errors }" />
                <div *ngIf="submitted && f.textMessage.errors" class="invalid-feedback">
                    <div *ngIf="f.textMessage.errors.required">Mobile Number is required</div>
                </div>
            </div>
            <div style="width: 100%; height: 20px; border-bottom: 1px solid black; text-align: center">
                <span style="font-size: 40px; background-color: #F3F5F6; padding: 0 10px;">
                    OR
                </span>
            </div>
            <div class="form-group">
                <label for="recordMessage">Record Message</label>
                <input type="file" id="recordMessage" formControlName="recordMessage" accept="audio/*;capture=microphone">
            </div>
            <div class="form-group">
                <mat-radio-group>
                    <mat-radio-button value="instantSend" (change)="instantSend = true" [checked]="instantSend">Instant
                        Send</mat-radio-button>
                    <mat-radio-button value="schedule" (change)="instantSend = false">Schedule
                        &nbsp;&nbsp;<input [hidden]="instantSend" type="date" />
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </form> -->
    </mat-card-content>
    <mat-card-actions>
        <mat-grid-list cols="2" rowHeight="3:1">
            <mat-grid-tile>
                <button mat-raised-button color="primary" (click)="saveReminder">SAVE</button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-raised-button color="basic" (click)="saveReminder">CANCEL</button>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-actions>

</mat-card>